version: '3.8'

services:
  # The PepperBox environment running the Python 2.7 shim server
  pepper-robot-env:
    image: jwgcurrie/pepper-direct-env:1.1
    privileged: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./robot.env:/home/pepperdev/py3-naoqi-bridge/robot.env
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
      - NAOQI_IP=127.0.0.1
      - NAOQI_PORT=39961
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    command: [ "/home/pepperdev/.pyenv/versions/2.7.18/bin/python", "/home/pepperdev/py3-naoqi-bridge/shim_server.py" ]

  # The Dualshock publisher service
  dualshock-publisher:
    image: jwgcurrie/dualshock_publisher:latest
    privileged: true
    volumes:
      - /dev/input:/dev/input
    network_mode: host
    restart: unless-stopped

  # The PepperWizard bridge application
  pepper-wizard:
    build: .
    image: pepper-wizard:latest
    command: [ "python", "-m", "pepper_wizard.main", "--proxy-ip", "127.0.0.1", "--proxy-port", "5000" ]
    depends_on:
      - pepper-robot-env
    stdin_open: true
    tty: true
    network_mode: host
    volumes:
      - .:/usr/src/app
    restart: on-failure
